<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.outwardInc.specs.TestCases</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc_9ToTestImageRotation</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc_9ToTestImageRotation</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc02ClickOnComposerLink</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc02ClickOnComposerLink</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc_4_4ToTestZoomInFeatureWithTopViewAndDimension</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc_4_4ToTestZoomInFeatureWithTopViewAndDimension</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc41ToTestZoomInFeature</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc41ToTestZoomInFeature</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0402ClickOnViewLargerImageWithDimension</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0402ClickOnViewLargerImageWithDimension</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0403ToTestViewLargeImagewithTopView</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0403ToTestViewLargeImagewithTopView</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc_4_3ToTestZoomInFeatureWithTopView</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc_4_3ToTestZoomInFeatureWithTopView</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc03FetchSku</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc03FetchSku</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0401ClickOnViewLargerImage</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0401ClickOnViewLargerImage</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc_4_2ToTestZoomInFeatureWithDimension</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc_4_2ToTestZoomInFeatureWithDimension</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc01LaunchBrowser</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc01LaunchBrowser</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
