<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:04:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc01LaunchBrowser()[pri:0, instance:com.outwardInc.specs.TestCases@2667f029, instance params:[Andes_Leather_Sofa_Futon, test@testmail.com]]">Tc01LaunchBrowser</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:04:30</td>   <td>16700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc01LaunchBrowser()[pri:0, instance:com.outwardInc.specs.TestCases@67a20f67, instance params:[Shelter_Uph_Chaise_LAF, test1@testmail.com]]">Tc01LaunchBrowser</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:04:48</td>   <td>34835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc02ClickOnComposerLink()[pri:0, instance:com.outwardInc.specs.TestCases@2667f029, instance params:[Andes_Leather_Sofa_Futon, test@testmail.com]]">Tc02ClickOnComposerLink</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:05:34</td>   <td>80804</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc02ClickOnComposerLink()[pri:0, instance:com.outwardInc.specs.TestCases@67a20f67, instance params:[Shelter_Uph_Chaise_LAF, test1@testmail.com]]">Tc02ClickOnComposerLink</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:06:19</td>   <td>126049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc03FetchSku()[pri:0, instance:com.outwardInc.specs.TestCases@2667f029, instance params:[Andes_Leather_Sofa_Futon, test@testmail.com]]">Tc03FetchSku</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:06:19</td>   <td>126203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc03FetchSku()[pri:0, instance:com.outwardInc.specs.TestCases@67a20f67, instance params:[Shelter_Uph_Chaise_LAF, test1@testmail.com]]">Tc03FetchSku</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:06:20</td>   <td>126388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc0401ClickOnViewLargerImage()[pri:0, instance:com.outwardInc.specs.TestCases@2667f029, instance params:[Andes_Leather_Sofa_Futon, test@testmail.com]]">Tc0401ClickOnViewLargerImage</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:06:25</td>   <td>131696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc0401ClickOnViewLargerImage()[pri:0, instance:com.outwardInc.specs.TestCases@67a20f67, instance params:[Shelter_Uph_Chaise_LAF, test1@testmail.com]]">Tc0401ClickOnViewLargerImage</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:06:30</td>   <td>136548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc0402ClickOnViewLargerImageWithDimension()[pri:0, instance:com.outwardInc.specs.TestCases@2667f029, instance params:[Andes_Leather_Sofa_Futon, test@testmail.com]]">Tc0402ClickOnViewLargerImageWithDimension</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:06:38</td>   <td>144822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc0402ClickOnViewLargerImageWithDimension()[pri:0, instance:com.outwardInc.specs.TestCases@67a20f67, instance params:[Shelter_Uph_Chaise_LAF, test1@testmail.com]]">Tc0402ClickOnViewLargerImageWithDimension</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:06:45</td>   <td>151526</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc0403ToTestViewLargeImagewithTopView()[pri:0, instance:com.outwardInc.specs.TestCases@2667f029, instance params:[Andes_Leather_Sofa_Futon, test@testmail.com]]">Tc0403ToTestViewLargeImagewithTopView</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:06:53</td>   <td>160178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc0403ToTestViewLargeImagewithTopView()[pri:0, instance:com.outwardInc.specs.TestCases@67a20f67, instance params:[Shelter_Uph_Chaise_LAF, test1@testmail.com]]">Tc0403ToTestViewLargeImagewithTopView</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:07:02</td>   <td>168968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc41ToTestZoomInFeature()[pri:0, instance:com.outwardInc.specs.TestCases@2667f029, instance params:[Andes_Leather_Sofa_Futon, test@testmail.com]]">Tc41ToTestZoomInFeature</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:07:10</td>   <td>176374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc41ToTestZoomInFeature()[pri:0, instance:com.outwardInc.specs.TestCases@67a20f67, instance params:[Shelter_Uph_Chaise_LAF, test1@testmail.com]]">Tc41ToTestZoomInFeature</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:07:17</td>   <td>183333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc_4_2ToTestZoomInFeatureWithDimension()[pri:0, instance:com.outwardInc.specs.TestCases@2667f029, instance params:[Andes_Leather_Sofa_Futon, test@testmail.com]]">Tc_4_2ToTestZoomInFeatureWithDimension</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:07:29</td>   <td>195508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc_4_2ToTestZoomInFeatureWithDimension()[pri:0, instance:com.outwardInc.specs.TestCases@67a20f67, instance params:[Shelter_Uph_Chaise_LAF, test1@testmail.com]]">Tc_4_2ToTestZoomInFeatureWithDimension</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:07:41</td>   <td>208101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc_4_3ToTestZoomInFeatureWithTopView()[pri:0, instance:com.outwardInc.specs.TestCases@2667f029, instance params:[Andes_Leather_Sofa_Futon, test@testmail.com]]">Tc_4_3ToTestZoomInFeatureWithTopView</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:07:57</td>   <td>224006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc_4_3ToTestZoomInFeatureWithTopView()[pri:0, instance:com.outwardInc.specs.TestCases@67a20f67, instance params:[Shelter_Uph_Chaise_LAF, test1@testmail.com]]">Tc_4_3ToTestZoomInFeatureWithTopView</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:08:15</td>   <td>241607</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc_4_4ToTestZoomInFeatureWithTopViewAndDimension()[pri:0, instance:com.outwardInc.specs.TestCases@2667f029, instance params:[Andes_Leather_Sofa_Futon, test@testmail.com]]">Tc_4_4ToTestZoomInFeatureWithTopViewAndDimension</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:08:34</td>   <td>260780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc_4_4ToTestZoomInFeatureWithTopViewAndDimension()[pri:0, instance:com.outwardInc.specs.TestCases@67a20f67, instance params:[Shelter_Uph_Chaise_LAF, test1@testmail.com]]">Tc_4_4ToTestZoomInFeatureWithTopViewAndDimension</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:08:53</td>   <td>279862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc_9ToTestImageRotation()[pri:0, instance:com.outwardInc.specs.TestCases@2667f029, instance params:[Andes_Leather_Sofa_Futon, test@testmail.com]]">Tc_9ToTestImageRotation</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
<tr bgcolor="8bf372">  <td>20/07/07 17:08:57</td>   <td>283397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCases.Tc_9ToTestImageRotation()[pri:0, instance:com.outwardInc.specs.TestCases@67a20f67, instance params:[Shelter_Uph_Chaise_LAF, test1@testmail.com]]">Tc_9ToTestImageRotation</td> 
  <td>main@2134607032</td>   <td>644345897 1738674023 </td> </tr>
</table>
