<h2>Reporter output</h2><table><tr><td>Going to Launch the Browser for Oman Andes_Leather_Sofa_Futon</td></tr>
<tr><td>Going to login into the Application with qaa And Password fa96b042-6963-4e32-a73a-9b2c6f9fca5f</td></tr>
<tr><td>Going to Launch the Browser for Oman Shelter_Uph_Chaise_LAF</td></tr>
<tr><td>Going to login into the Application with qaa And Password fa96b042-6963-4e32-a73a-9b2c6f9fca5f</td></tr>
<tr><td>Going to click on the composer link https://test-composer.outwardinc.com/view/WSI_WE_CT3/Andes_Leather_Sofa_Futon</td></tr>
<tr><td>Going to click on the composer link https://test-composer.outwardinc.com/view/WSI_WE_CT3/Shelter_Uph_Chaise_LAF</td></tr>
<tr><td>Going to fetch total Sku for Andes_Leather_Sofa_Futon</td></tr>
<tr><td>The No. of Skus are :21</td></tr>
<tr><td>Total Sku available for Andes_Leather_Sofa_Futon is 21 And configured SKU count is 2</td></tr>
<tr><td>Going to fetch total Sku for Shelter_Uph_Chaise_LAF</td></tr>
<tr><td>The No. of Skus are :18</td></tr>
<tr><td>Total Sku available for Shelter_Uph_Chaise_LAF is 18 And configured SKU count is 2</td></tr>
<tr><td>Going to validate the View Larger Image functionality for Oman Andes_Leather_Sofa_Futon</td></tr>
<tr><td>Here are the Image Attributes :</td></tr>
<tr><td>Getting information on Current Image attributes</td></tr>
<tr><td>The Image Dimensions [Height] :1050</td></tr>
<tr><td>The Image Dimensions [Width] :1050</td></tr>
<tr><td>Fetching current Image Resolution :width: 700px; height: 700px;</td></tr>
<tr><td>Going to click on - View larger Image</td></tr>
<tr><td>The Image is in- large View Mode and here are the New Image attributes</td></tr>
<tr><td>The Image Dimensions are :1920</td></tr>
<tr><td>The Image Dimensions are :1014</td></tr>
<tr><td>Fetching New Image Resolution :width: 1280px; height: 676px;</td></tr>
<tr><td>The New Image Dimensions [height] :1920</td></tr>
<tr><td>The New Image Dimensions [Width] :1014</td></tr>
<tr><td>Image Resolution changed Successfully</td></tr>
<tr><td>Going to validate if the -Cancel Button is available</td></tr>
<tr><td>The Cancel button is available in the Page</td></tr>
<tr><td>Going to click on -Cancel Button in View Large Image Mode</td></tr>
<tr><td>Image is back in Normal Mode</td></tr>
<tr><td>Test Execution for Click on View large Image Mode Executed Successfully</td></tr>
<tr><td>Going to validate the View Larger Image functionality for Oman Shelter_Uph_Chaise_LAF</td></tr>
<tr><td>Here are the Image Attributes :</td></tr>
<tr><td>Getting information on Current Image attributes</td></tr>
<tr><td>The Image Dimensions [Height] :1050</td></tr>
<tr><td>The Image Dimensions [Width] :1050</td></tr>
<tr><td>Fetching current Image Resolution :width: 700px; height: 700px;</td></tr>
<tr><td>Going to click on - View larger Image</td></tr>
<tr><td>The Image is in- large View Mode and here are the New Image attributes</td></tr>
<tr><td>The Image Dimensions are :1920</td></tr>
<tr><td>The Image Dimensions are :1014</td></tr>
<tr><td>Fetching New Image Resolution :width: 1280px; height: 676px;</td></tr>
<tr><td>The New Image Dimensions [height] :1920</td></tr>
<tr><td>The New Image Dimensions [Width] :1014</td></tr>
<tr><td>Image Resolution changed Successfully</td></tr>
<tr><td>Going to validate if the -Cancel Button is available</td></tr>
<tr><td>The Cancel button is available in the Page</td></tr>
<tr><td>Going to click on -Cancel Button in View Large Image Mode</td></tr>
<tr><td>Image is back in Normal Mode</td></tr>
<tr><td>Test Execution for Click on View large Image Mode Executed Successfully</td></tr>
<tr><td>Test Case - To Verify that user is able to click on The View Larger Image Toggle with View Top for OMAN: Andes_Leather_Sofa_Futon</td></tr>
<tr><td>Here are the Image Attributes :</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : 360S0001.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is not yet Highlighted</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : 360S0001.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is Highlighted</td></tr>
<tr><td>Now Going to click on - View large Image button, when Image is already opened in Top View</td></tr>
<tr><td>Getting information on Current Image attributes</td></tr>
<tr><td>The Image Dimensions [Height] :1050</td></tr>
<tr><td>The Image Dimensions [Width] :1050</td></tr>
<tr><td>Fetching current Image Resolution :width: 700px; height: 700px;</td></tr>
<tr><td>Going to click on - View larger Image</td></tr>
<tr><td>The Image is in- large View Mode and here are the New Image attributes</td></tr>
<tr><td>The Image Dimensions are :1920</td></tr>
<tr><td>The Image Dimensions are :1014</td></tr>
<tr><td>Fetching New Image Resolution :width: 1280px; height: 676px;</td></tr>
<tr><td>The New Image Dimensions [height] :1920</td></tr>
<tr><td>The New Image Dimensions [Width] :1014</td></tr>
<tr><td>Image Resolution changed Successfully</td></tr>
<tr><td>Going to validate if the -Cancel Button is available</td></tr>
<tr><td>The Cancel button is available in the Page</td></tr>
<tr><td>Going to click on -Cancel Button in View Large Image Mode</td></tr>
<tr><td>Image is back in Normal Mode</td></tr>
<tr><td>Test Execution for Click on View large Image Mode Executed Successfully</td></tr>
<tr><td>Going to Check if the Dimension Toggle is Switched on or not</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : 360S0001.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is Highlighted</td></tr>
<tr><td>Test Case - To Verify that user is able to click on The View Larger Image Toggle with View Top for OMAN: Shelter_Uph_Chaise_LAF</td></tr>
<tr><td>Here are the Image Attributes :</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : 360S0026.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is not yet Highlighted</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : 360S0026.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is Highlighted</td></tr>
<tr><td>Now Going to click on - View large Image button, when Image is already opened in Top View</td></tr>
<tr><td>Getting information on Current Image attributes</td></tr>
<tr><td>The Image Dimensions [Height] :1050</td></tr>
<tr><td>The Image Dimensions [Width] :1050</td></tr>
<tr><td>Fetching current Image Resolution :width: 700px; height: 700px;</td></tr>
<tr><td>Going to click on - View larger Image</td></tr>
<tr><td>The Image is in- large View Mode and here are the New Image attributes</td></tr>
<tr><td>The Image Dimensions are :1920</td></tr>
<tr><td>The Image Dimensions are :1014</td></tr>
<tr><td>Fetching New Image Resolution :width: 1280px; height: 676px;</td></tr>
<tr><td>The New Image Dimensions [height] :1920</td></tr>
<tr><td>The New Image Dimensions [Width] :1014</td></tr>
<tr><td>Image Resolution changed Successfully</td></tr>
<tr><td>Going to validate if the -Cancel Button is available</td></tr>
<tr><td>The Cancel button is available in the Page</td></tr>
<tr><td>Going to click on -Cancel Button in View Large Image Mode</td></tr>
<tr><td>Image is back in Normal Mode</td></tr>
<tr><td>Test Execution for Click on View large Image Mode Executed Successfully</td></tr>
<tr><td>Going to Check if the Dimension Toggle is Switched on or not</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : 360S0026.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is Highlighted</td></tr>
<tr><td>Test Case - To Verify that user is able to click on The View Larger Image Toggle with View Top  for OMAN: Andes_Leather_Sofa_Futon</td></tr>
<tr><td>Fetching the Current status of the Rendered Image :off</td></tr>
<tr><td>currently, The Image is in -View front Mode </td></tr>
<tr><td>Fetching the Current Data frame of the Rendered Image :TopDownS0002.jpg</td></tr>
<tr><td>Going to click on View Top Toggle</td></tr>
<tr><td>Getting information on Current Image attributes</td></tr>
<tr><td>The Image Dimensions [Height] :1050</td></tr>
<tr><td>The Image Dimensions [Width] :1050</td></tr>
<tr><td>Fetching current Image Resolution :width: 700px; height: 700px;</td></tr>
<tr><td>Going to click on - View larger Image</td></tr>
<tr><td>The Image is in- large View Mode and here are the New Image attributes</td></tr>
<tr><td>The Image Dimensions are :1920</td></tr>
<tr><td>The Image Dimensions are :1014</td></tr>
<tr><td>Fetching New Image Resolution :width: 1280px; height: 676px;</td></tr>
<tr><td>The New Image Dimensions [height] :1920</td></tr>
<tr><td>The New Image Dimensions [Width] :1014</td></tr>
<tr><td>Image Resolution changed Successfully</td></tr>
<tr><td>Going to validate if the -Cancel Button is available</td></tr>
<tr><td>The Cancel button is available in the Page</td></tr>
<tr><td>Going to click on -Cancel Button in View Large Image Mode</td></tr>
<tr><td>Image is back in Normal Mode</td></tr>
<tr><td>Test Execution for Click on View large Image Mode Executed Successfully</td></tr>
<tr><td>The Image is in Normal, View -Front view Mode </td></tr>
<tr><td>The View Front Button is Not Highlighted and Its current Attribute Status is: </td></tr>
<tr><td>Test Case - To Verify that user is able to click on The View Larger Image Toggle with View Top  for OMAN: Shelter_Uph_Chaise_LAF</td></tr>
<tr><td>Fetching the Current status of the Rendered Image :off</td></tr>
<tr><td>currently, The Image is in -View front Mode </td></tr>
<tr><td>Fetching the Current Data frame of the Rendered Image :TopDownS0002.jpg</td></tr>
<tr><td>Going to click on View Top Toggle</td></tr>
<tr><td>Getting information on Current Image attributes</td></tr>
<tr><td>The Image Dimensions [Height] :1050</td></tr>
<tr><td>The Image Dimensions [Width] :1050</td></tr>
<tr><td>Fetching current Image Resolution :width: 700px; height: 700px;</td></tr>
<tr><td>Going to click on - View larger Image</td></tr>
<tr><td>The Image is in- large View Mode and here are the New Image attributes</td></tr>
<tr><td>The Image Dimensions are :1920</td></tr>
<tr><td>The Image Dimensions are :1014</td></tr>
<tr><td>Fetching New Image Resolution :width: 1280px; height: 676px;</td></tr>
<tr><td>The New Image Dimensions [height] :1920</td></tr>
<tr><td>The New Image Dimensions [Width] :1014</td></tr>
<tr><td>Image Resolution changed Successfully</td></tr>
<tr><td>Going to validate if the -Cancel Button is available</td></tr>
<tr><td>The Cancel button is available in the Page</td></tr>
<tr><td>Going to click on -Cancel Button in View Large Image Mode</td></tr>
<tr><td>Image is back in Normal Mode</td></tr>
<tr><td>Test Execution for Click on View large Image Mode Executed Successfully</td></tr>
<tr><td>The Image is in Normal, View -Front view Mode </td></tr>
<tr><td>The View Front Button is Not Highlighted and Its current Attribute Status is: </td></tr>
<tr><td>XXXXXXXXXXXXXXXXXXXXXXX    TEST CASE - TESTING ZOOM IN FEATURE                      XXXXXXXXXXXXXXXXXXXXXX</td></tr>
<tr><td>Going to validate the Toggle's Highlighted status and Its Resolution</td></tr>
<tr><td>Fetching the Resolution of Image, The current resolution is: 558x558</td></tr>
<tr><td>Going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is not yet Highlighted</td></tr>
<tr><td>Now, Going to click on Zoom In Toggle</td></tr>
<tr><td> After click on Zoom in Toggle, going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is Highlighted</td></tr>
<tr><td>Now the current resolution changed to: 2000x2000</td></tr>
<tr><td>The Image Resolution got changed</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to validate the Toggle's Highlighted status and Its Resolution for Zoomed out Image</td></tr>
<tr><td>XXXXXXXXXXXXXXXXXXXXXXX     TEST CASE - TESTING ZOOM OUT FEATURE                      XXXXXXXXXXXXXXXXXXXXXX</td></tr>
<tr><td>Fetching the Resolution of Image, The current resolution is: 2000x2000</td></tr>
<tr><td>Going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is Highlighted</td></tr>
<tr><td>Now, Going to click on Zoom Out Toggle</td></tr>
<tr><td> After click on Zoom out Toggle, going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is not yet Highlighted</td></tr>
<tr><td>Now the current resolution changed to: 558x558</td></tr>
<tr><td>The Image Resolution got changed</td></tr>
<tr><td>Image Successfully Zoomed IN</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>XXXXXXXXXXXXXXXXXXXXXXX    TEST CASE - TESTING ZOOM IN FEATURE                      XXXXXXXXXXXXXXXXXXXXXX</td></tr>
<tr><td>Going to validate the Toggle's Highlighted status and Its Resolution</td></tr>
<tr><td>Fetching the Resolution of Image, The current resolution is: 558x558</td></tr>
<tr><td>Going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is not yet Highlighted</td></tr>
<tr><td>Now, Going to click on Zoom In Toggle</td></tr>
<tr><td> After click on Zoom in Toggle, going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is Highlighted</td></tr>
<tr><td>Now the current resolution changed to: 2000x2000</td></tr>
<tr><td>The Image Resolution got changed</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to validate the Toggle's Highlighted status and Its Resolution for Zoomed out Image</td></tr>
<tr><td>XXXXXXXXXXXXXXXXXXXXXXX     TEST CASE - TESTING ZOOM OUT FEATURE                      XXXXXXXXXXXXXXXXXXXXXX</td></tr>
<tr><td>Fetching the Resolution of Image, The current resolution is: 2000x2000</td></tr>
<tr><td>Going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is Highlighted</td></tr>
<tr><td>Now, Going to click on Zoom Out Toggle</td></tr>
<tr><td> After click on Zoom out Toggle, going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is not yet Highlighted</td></tr>
<tr><td>Now the current resolution changed to: 558x558</td></tr>
<tr><td>The Image Resolution got changed</td></tr>
<tr><td>Image Successfully Zoomed IN</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to validate the Toggle's Highlighted status and Its Resolution for Zoomed out Image</td></tr>
<tr><td>XXXXXXXXXXXXXXXXXXXXXXX       TEST CASE-TESTING ZOOM IN FEATURE WITH DIMENSION                     XXXXXXXXXXXXXXXXXXXXXX</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : 360S0001.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is Highlighted</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Getting the New Image Attributes</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : 360S0001.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is not yet Highlighted</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Now clicking on Zoom Toggle</td></tr>
<tr><td>Fetching the Resolution of Image, The current resolution is: 558x558</td></tr>
<tr><td>Going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is not yet Highlighted</td></tr>
<tr><td>Now, Going to click on Zoom In Toggle</td></tr>
<tr><td> After click on Zoom in Toggle, going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is Highlighted</td></tr>
<tr><td>Now the current resolution changed to: 2000x2000</td></tr>
<tr><td>The Image Resolution got changed</td></tr>
<tr><td>Getting the New Image Attributes</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : 360S0001.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is not yet Highlighted</td></tr>
<tr><td>XXXXXXXXXXXXXXXXXXXXXXX                 TESTING ZOOM OUT FEATURE DIMENSION                    XXXXXXXXXXXXXXXXXXXXXX</td></tr>
<tr><td>Fetching the Resolution of Image, The current resolution is: 2000x2000</td></tr>
<tr><td>Going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is Highlighted</td></tr>
<tr><td>Now, Going to click on Zoom Out Toggle</td></tr>
<tr><td> After click on Zoom out Toggle, going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is not yet Highlighted</td></tr>
<tr><td>Now the current resolution changed to: 558x558</td></tr>
<tr><td>The Image Resolution got changed</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Getting the New Image Attributes</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : 360S0001.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is Highlighted</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to validate the Toggle's Highlighted status and Its Resolution for Zoomed out Image</td></tr>
<tr><td>XXXXXXXXXXXXXXXXXXXXXXX       TEST CASE-TESTING ZOOM IN FEATURE WITH DIMENSION                     XXXXXXXXXXXXXXXXXXXXXX</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : 360S0026.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is Highlighted</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Getting the New Image Attributes</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : 360S0026.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is not yet Highlighted</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Now clicking on Zoom Toggle</td></tr>
<tr><td>Fetching the Resolution of Image, The current resolution is: 558x558</td></tr>
<tr><td>Going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is not yet Highlighted</td></tr>
<tr><td>Now, Going to click on Zoom In Toggle</td></tr>
<tr><td> After click on Zoom in Toggle, going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is Highlighted</td></tr>
<tr><td>Now the current resolution changed to: 2000x2000</td></tr>
<tr><td>The Image Resolution got changed</td></tr>
<tr><td>Getting the New Image Attributes</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : 360S0026.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is not yet Highlighted</td></tr>
<tr><td>XXXXXXXXXXXXXXXXXXXXXXX                 TESTING ZOOM OUT FEATURE DIMENSION                    XXXXXXXXXXXXXXXXXXXXXX</td></tr>
<tr><td>Fetching the Resolution of Image, The current resolution is: 2000x2000</td></tr>
<tr><td>Going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is Highlighted</td></tr>
<tr><td>Now, Going to click on Zoom Out Toggle</td></tr>
<tr><td> After click on Zoom out Toggle, going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is not yet Highlighted</td></tr>
<tr><td>Now the current resolution changed to: 558x558</td></tr>
<tr><td>The Image Resolution got changed</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Getting the New Image Attributes</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : 360S0026.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is Highlighted</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>XXXXXXXXXXXXXXXXXXXXXXX       TEST CASE-TESTING ZOOM IN FEATURE fOR TOP VIEW IMAGE                    XXXXXXXXXXXXXXXXXXXXXX</td></tr>
<tr><td>Fetching the Current status of the Rendered Image :off</td></tr>
<tr><td>currently, The Image is in -View front Mode </td></tr>
<tr><td>Fetching the Current Data frame of the Rendered Image :TopDownS0002.jpg</td></tr>
<tr><td>Going to click on View Top Toggle</td></tr>
<tr><td>Going to validate the Toggle's Highlighted status and Its Resolution</td></tr>
<tr><td>Fetching the Resolution of Image, The current resolution is: 558x558</td></tr>
<tr><td>Going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is not yet Highlighted</td></tr>
<tr><td>Now, Going to click on Zoom In Toggle</td></tr>
<tr><td> After click on Zoom in Toggle, going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is Highlighted</td></tr>
<tr><td>Now the current resolution changed to: 2000x2000</td></tr>
<tr><td>The Image Resolution got changed</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Now clicking on out Zoom Toggle</td></tr>
<tr><td>Fetching the Resolution of Image, The current resolution is: 2000x2000</td></tr>
<tr><td>Going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is Highlighted</td></tr>
<tr><td>Now, Going to click on Zoom In Toggle</td></tr>
<tr><td> After click on Zoom in Toggle, going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is not yet Highlighted</td></tr>
<tr><td>Now the current resolution changed to: 558x558</td></tr>
<tr><td>The Image Resolution got changed</td></tr>
<tr><td>Getting the New Image Attributes</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : TopDownS0014.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is Highlighted</td></tr>
<tr><td>Going to click on View Front Toggle</td></tr>
<tr><td>Getting the New Image Attributes</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : 360S0001.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is Highlighted</td></tr>
<tr><td>XXXXXXXXXXXXXXXXXXXXXXX       TEST CASE-TESTING ZOOM IN FEATURE fOR TOP VIEW IMAGE                    XXXXXXXXXXXXXXXXXXXXXX</td></tr>
<tr><td>Fetching the Current status of the Rendered Image :off</td></tr>
<tr><td>currently, The Image is in -View front Mode </td></tr>
<tr><td>Fetching the Current Data frame of the Rendered Image :TopDownS0002.jpg</td></tr>
<tr><td>Going to click on View Top Toggle</td></tr>
<tr><td>Going to validate the Toggle's Highlighted status and Its Resolution</td></tr>
<tr><td>Fetching the Resolution of Image, The current resolution is: 558x558</td></tr>
<tr><td>Going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is not yet Highlighted</td></tr>
<tr><td>Now, Going to click on Zoom In Toggle</td></tr>
<tr><td> After click on Zoom in Toggle, going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is Highlighted</td></tr>
<tr><td>Now the current resolution changed to: 2000x2000</td></tr>
<tr><td>The Image Resolution got changed</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Now clicking on out Zoom Toggle</td></tr>
<tr><td>Fetching the Resolution of Image, The current resolution is: 2000x2000</td></tr>
<tr><td>Going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is Highlighted</td></tr>
<tr><td>Now, Going to click on Zoom In Toggle</td></tr>
<tr><td> After click on Zoom in Toggle, going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is not yet Highlighted</td></tr>
<tr><td>Now the current resolution changed to: 558x558</td></tr>
<tr><td>The Image Resolution got changed</td></tr>
<tr><td>Getting the New Image Attributes</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : TopDownS0014.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is Highlighted</td></tr>
<tr><td>Going to click on View Front Toggle</td></tr>
<tr><td>Getting the New Image Attributes</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : 360S0026.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is Highlighted</td></tr>
<tr><td>XXXXXXXXXXXXXXXXXXXXXXX       TEST CASE-TESTING ZOOM IN FEATURE fOR TOP VIEW IMAGE WITH DIMENSION                  XXXXXXXXXXXXXXXXXXXXXX</td></tr>
<tr><td>Fetching the Current status of the Rendered Image :off</td></tr>
<tr><td>currently, The Image is in -View front Mode </td></tr>
<tr><td>Fetching the Current Data frame of the Rendered Image :TopDownS0002.jpg</td></tr>
<tr><td>Going to click on View Top Toggle</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : TopDownS0014.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is Highlighted</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Getting the New Image Attributes</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : TopDownS0014.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is not yet Highlighted</td></tr>
<tr><td>Going to validate the Toggle's Highlighted status and Its Resolution</td></tr>
<tr><td>Fetching the Resolution of Image, The current resolution is: 558x558</td></tr>
<tr><td>Going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is not yet Highlighted</td></tr>
<tr><td>Now, Going to click on Zoom In Toggle</td></tr>
<tr><td> After click on Zoom in Toggle, going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is Highlighted</td></tr>
<tr><td>Now the current resolution changed to: 2000x2000</td></tr>
<tr><td>The Image Resolution got changed</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Now clicking on out Zoom Toggle</td></tr>
<tr><td>Fetching the Resolution of Image, The current resolution is: 2000x2000</td></tr>
<tr><td>Going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is Highlighted</td></tr>
<tr><td>Now, Going to click on Zoom In Toggle</td></tr>
<tr><td> After click on Zoom in Toggle, going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is not yet Highlighted</td></tr>
<tr><td>Now the current resolution changed to: 558x558</td></tr>
<tr><td>The Image Resolution got changed</td></tr>
<tr><td>Getting the New Image Attributes</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : TopDownS0014.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is Highlighted</td></tr>
<tr><td>Going to click on View Top Toggle</td></tr>
<tr><td>XXXXXXXXXXXXXXXXXXXXXXX       TEST CASE-TESTING ZOOM IN FEATURE fOR TOP VIEW IMAGE WITH DIMENSION                  XXXXXXXXXXXXXXXXXXXXXX</td></tr>
<tr><td>Fetching the Current status of the Rendered Image :off</td></tr>
<tr><td>currently, The Image is in -View front Mode </td></tr>
<tr><td>Fetching the Current Data frame of the Rendered Image :TopDownS0002.jpg</td></tr>
<tr><td>Going to click on View Top Toggle</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : TopDownS0014.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is Highlighted</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Getting the New Image Attributes</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : TopDownS0014.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is not yet Highlighted</td></tr>
<tr><td>Going to validate the Toggle's Highlighted status and Its Resolution</td></tr>
<tr><td>Fetching the Resolution of Image, The current resolution is: 558x558</td></tr>
<tr><td>Going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is not yet Highlighted</td></tr>
<tr><td>Now, Going to click on Zoom In Toggle</td></tr>
<tr><td> After click on Zoom in Toggle, going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is Highlighted</td></tr>
<tr><td>Now the current resolution changed to: 2000x2000</td></tr>
<tr><td>The Image Resolution got changed</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Now clicking on out Zoom Toggle</td></tr>
<tr><td>Fetching the Resolution of Image, The current resolution is: 2000x2000</td></tr>
<tr><td>Going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is Highlighted</td></tr>
<tr><td>Now, Going to click on Zoom In Toggle</td></tr>
<tr><td> After click on Zoom in Toggle, going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is not yet Highlighted</td></tr>
<tr><td>Now the current resolution changed to: 558x558</td></tr>
<tr><td>The Image Resolution got changed</td></tr>
<tr><td>Getting the New Image Attributes</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>*****************************************************************************************************</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : TopDownS0014.png</td></tr>
<tr><td>Going to check if the Toggle is Highlighted or Not</td></tr>
<tr><td>The Dimension button is Highlighted</td></tr>
<tr><td>Going to click on View Top Toggle</td></tr>
<tr><td>XXXXXXXXXXXXXXXXXXXXXXX       TEST CASE-TESTING IMAGE ROTATION                 XXXXXXXXXXXXXXXXXXXXXX</td></tr>
<tr><td>To Test the Rotation of the rendered Image</td></tr>
<tr><td>Getting the Rotation Type of Image</td></tr>
<tr><td>The Rotation Type of the OMAN is : 360</td></tr>
<tr><td>The Rotation Type of the OMAN is : 360</td></tr>
<tr><td>Fetching the Frame Sequence of the Image</td></tr>
<tr><td>Getting the Rotation Type of Image</td></tr>
<tr><td>Here is the List of Frame Sequence : 360S0001,360S0002,360S0003,360S0004,360S0005,360S0006,360S0007,360S0008,360S0009,360S0010,360S0011,360S0012,360S0013,360S0014,360S0015,360S0016,360S0017,360S0018,360S0019,360S0020,360S0021,360S0022,360S0023,360S0024,360S0025,360S0026,360S0027,360S0028,360S0029,360S0030,360S0031</td></tr>
<tr><td>Here is the List of Framesequence 360S0001,360S0002,360S0003,360S0004,360S0005,360S0006,360S0007,360S0008,360S0009,360S0010,360S0011,360S0012,360S0013,360S0014,360S0015,360S0016,360S0017,360S0018,360S0019,360S0020,360S0021,360S0022,360S0023,360S0024,360S0025,360S0026,360S0027,360S0028,360S0029,360S0030,360S0031</td></tr>
<tr><td>To Test the Rotation feature: </td></tr>
<tr><td>Going to Rotate the Image </td></tr>
<tr><td>Getting the Rotation Type of Image</td></tr>
<tr><td>The Rotation Type of the OMAN is : 360</td></tr>
<tr><td>The Image is rotated and its value is 2</td></tr>
<tr><td>The Image is rotated and its value is 3</td></tr>
<tr><td>The Image is rotated and its value is 4</td></tr>
<tr><td>The Image is rotated and its value is 5</td></tr>
<tr><td>The Image is rotated and its value is 6</td></tr>
<tr><td>The Image is rotated and its value is 7</td></tr>
<tr><td>The Image is rotated and its value is 8</td></tr>
<tr><td>The Image is rotated and its value is 9</td></tr>
<tr><td>The Image is rotated and its value is 10</td></tr>
<tr><td>The Image is rotated and its value is 11</td></tr>
<tr><td>The Image is rotated and its value is 12</td></tr>
<tr><td>The Image is rotated and its value is 13</td></tr>
<tr><td>The Image is rotated and its value is 14</td></tr>
<tr><td>The Image is rotated and its value is 15</td></tr>
<tr><td>The Image is rotated and its value is 16</td></tr>
<tr><td>The Image is rotated and its value is 17</td></tr>
<tr><td>The Image is rotated and its value is 18</td></tr>
<tr><td>The Image is rotated and its value is 19</td></tr>
<tr><td>The Image is rotated and its value is 20</td></tr>
<tr><td>The Image is rotated and its value is 21</td></tr>
<tr><td>The Image is rotated and its value is 22</td></tr>
<tr><td>The Image is rotated and its value is 23</td></tr>
<tr><td>The Image is rotated and its value is 24</td></tr>
<tr><td>The Image is rotated and its value is 25</td></tr>
<tr><td>The Image is rotated and its value is 26</td></tr>
<tr><td>The Image is rotated and its value is 27</td></tr>
<tr><td>The Image is rotated and its value is 28</td></tr>
<tr><td>The Image is rotated and its value is 29</td></tr>
<tr><td>The Image is rotated and its value is 30</td></tr>
<tr><td>The Image is rotated and its value is 31</td></tr>
<tr><td>The Image is rotated and its value is 1</td></tr>
<tr><td>Successfully able to verify Rotation for rendered Image</td></tr>
<tr><td>XXXXXXXXXXXXXXXXXXXXXXX       TEST CASE-TESTING IMAGE ROTATION                 XXXXXXXXXXXXXXXXXXXXXX</td></tr>
<tr><td>To Test the Rotation of the rendered Image</td></tr>
<tr><td>Getting the Rotation Type of Image</td></tr>
<tr><td>The Rotation Type of the OMAN is : 360</td></tr>
<tr><td>The Rotation Type of the OMAN is : 360</td></tr>
<tr><td>Fetching the Frame Sequence of the Image</td></tr>
<tr><td>Getting the Rotation Type of Image</td></tr>
<tr><td>Here is the List of Frame Sequence : 360S0001,360S0002,360S0003,360S0004,360S0005,360S0006,360S0007,360S0008,360S0009,360S0010,360S0011,360S0012,360S0013,360S0014,360S0015,360S0016,360S0017,360S0018,360S0019,360S0020,360S0021,360S0022,360S0023,360S0024,360S0025,360S0026,360S0027,360S0028,360S0029,360S0030,360S0031</td></tr>
<tr><td>Here is the List of Framesequence 360S0001,360S0002,360S0003,360S0004,360S0005,360S0006,360S0007,360S0008,360S0009,360S0010,360S0011,360S0012,360S0013,360S0014,360S0015,360S0016,360S0017,360S0018,360S0019,360S0020,360S0021,360S0022,360S0023,360S0024,360S0025,360S0026,360S0027,360S0028,360S0029,360S0030,360S0031</td></tr>
<tr><td>To Test the Rotation feature: </td></tr>
<tr><td>Going to Rotate the Image </td></tr>
<tr><td>Getting the Rotation Type of Image</td></tr>
<tr><td>The Rotation Type of the OMAN is : 360</td></tr>
<tr><td>The Image is rotated and its value is 27</td></tr>
<tr><td>The Image is rotated and its value is 28</td></tr>
<tr><td>The Image is rotated and its value is 29</td></tr>
<tr><td>The Image is rotated and its value is 30</td></tr>
<tr><td>The Image is rotated and its value is 31</td></tr>
<tr><td>The Image is rotated and its value is 1</td></tr>
<tr><td>The Image is rotated and its value is 2</td></tr>
<tr><td>The Image is rotated and its value is 3</td></tr>
<tr><td>The Image is rotated and its value is 4</td></tr>
<tr><td>The Image is rotated and its value is 5</td></tr>
<tr><td>The Image is rotated and its value is 6</td></tr>
<tr><td>The Image is rotated and its value is 7</td></tr>
<tr><td>The Image is rotated and its value is 8</td></tr>
<tr><td>The Image is rotated and its value is 9</td></tr>
<tr><td>The Image is rotated and its value is 10</td></tr>
<tr><td>The Image is rotated and its value is 11</td></tr>
<tr><td>The Image is rotated and its value is 12</td></tr>
<tr><td>The Image is rotated and its value is 13</td></tr>
<tr><td>The Image is rotated and its value is 14</td></tr>
<tr><td>The Image is rotated and its value is 15</td></tr>
<tr><td>The Image is rotated and its value is 16</td></tr>
<tr><td>The Image is rotated and its value is 17</td></tr>
<tr><td>The Image is rotated and its value is 18</td></tr>
<tr><td>The Image is rotated and its value is 19</td></tr>
<tr><td>The Image is rotated and its value is 20</td></tr>
<tr><td>The Image is rotated and its value is 21</td></tr>
<tr><td>The Image is rotated and its value is 22</td></tr>
<tr><td>The Image is rotated and its value is 23</td></tr>
<tr><td>The Image is rotated and its value is 24</td></tr>
<tr><td>The Image is rotated and its value is 25</td></tr>
<tr><td>The Image is rotated and its value is 26</td></tr>
<tr><td>Successfully able to verify Rotation for rendered Image</td></tr>
</table>