<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.outwardInc.specs.TestCases</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0502ToTestZoomInFeatureWithDimension</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0502ToTestZoomInFeatureWithDimension</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0504ToTestZoomInFeatureWithTopViewAndDimension</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0504ToTestZoomInFeatureWithTopViewAndDimension</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0402ClickOnViewLargerImageWithDimension</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0402ClickOnViewLargerImageWithDimension</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0603ToTestDimensionWithZoomIn</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0603ToTestDimensionWithZoomIn</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0701ToTestTopView</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0701ToTestTopView</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0901ToTestImageRotation</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0901ToTestImageRotation</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc01LaunchBrowser</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc01LaunchBrowser</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc02ClickOnComposerLink</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc02ClickOnComposerLink</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0403ToTestViewLargeImagewithTopView</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0403ToTestViewLargeImagewithTopView</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0602ToTestDimensionfeatureWithLargerView</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0602ToTestDimensionfeatureWithLargerView</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0902ToValidateMissingDataFrame</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0902ToValidateMissingDataFrame</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc03FetchSku</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc03FetchSku</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0401ClickOnViewLargerImage</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0401ClickOnViewLargerImage</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0903ToValidateMissingTopDownFrame</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0903ToValidateMissingTopDownFrame</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0604ToTestDimensionWithTopView</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0604ToTestDimensionWithTopView</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0503ToTestZoomInFeatureWithTopView</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0503ToTestZoomInFeatureWithTopView</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0501ToTestZoomInFeature</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0501ToTestZoomInFeature</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0601ToTestDimensionfeature</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc0601ToTestDimensionfeature</td>
<td>WSI-CT3 </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
