<h2>Reporter output</h2><table><tr><td>Going to Launch the Browser for Oman Blythe_Crib_3in1_Convertible_woRail</td></tr>
<tr><td>Going to login into the Application with qaa And Password fa96b042-6963-4e32-a73a-9b2c6f9fca5f</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to click on the composer link https://test-composer.outwardinc.com/view/WSI_PBK_CT3/Blythe_Crib_3in1_Convertible_woRail</td></tr>
<tr><td>Going to fetch total Sku for Blythe_Crib_3in1_Convertible_woRail</td></tr>
<tr><td>The No. of Skus are :2</td></tr>
<tr><td>Going to find the Min number of Sku to be Executed </td></tr>
<tr><td>Total Sku available for Blythe_Crib_3in1_Convertible_woRail is 2 And configured SKU count is 2</td></tr>
<tr><td>Number of Times the Sku to be Executed: 2</td></tr>
<tr><td> Going to Execute Test cases for index : 01</td></tr>
<tr><td>Going to validate the View Larger Image functionality for Oman Blythe_Crib_3in1_Convertible_woRailAnd Sku is :5862094 SimplyWarmWhite</td></tr>
<tr><td>Getting information on Current Image attributes</td></tr>
<tr><td>The Image Dimensions [Height] :1050</td></tr>
<tr><td>The Image Dimensions [Width] :1050</td></tr>
<tr><td>Fetching current Image Resolution :width: 700px; height: 700px;</td></tr>
<tr><td>Going to click on - View larger Image</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>The Image is in- large View Mode and here are the New Image attributes</td></tr>
<tr><td>The Image Dimensions are :1920</td></tr>
<tr><td>The Image Dimensions are :1014</td></tr>
<tr><td>Fetching New Image Resolution :width: 1280px; height: 676px;</td></tr>
<tr><td>Verifying the Image's attributes when it is Opened in View larger Image Mode</td></tr>
<tr><td>Validating the New Image's attributes with the Original Image's attributes</td></tr>
<tr><td>Here are the Image's attributes when it is opened in -->Larger View Mode- [height] :1920</td></tr>
<tr><td>Here are the Image's attributes when it is opened in -->Larger View Mode- [Width] :1014</td></tr>
<tr><td>The New Image's Attributes are not same with the Original Image attributes</td></tr>
<tr><td>Going to validate if the -Cancel Button is available</td></tr>
<tr><td>The Cancel button is available in the Page</td></tr>
<tr><td>Going to click on -Cancel Button in View Large Image Mode</td></tr>
<tr><td>Image is back in Normal Mode</td></tr>
<tr><td>Test Execution for Click on View large Image Mode Executed Successfully</td></tr>
<tr><td>Test Case - To Verify that user is able to click on The View Larger Image Toggle with Dimensions on for OMAN: Blythe_Crib_3in1_Convertible_woRailAnd Sku is: 5862094 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : Blythe_Crib_3in1_Convertible_woRail_360S0001.png</td></tr>
<tr><td>Going to check the Dimension Toggle's Activeness</td></tr>
<tr><td>The Dimension button is not yet Highlighted</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to click on View Larger Image Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to check the Dimension Toggle's Activeness when Image is viewed in view Larger Mode</td></tr>
<tr><td>The Dimension Toggle's Activeness status is off</td></tr>
<tr><td>Going to click on -Cancel Button in View Large Image Mode</td></tr>
<tr><td>Image is back in Normal Mode</td></tr>
<tr><td>Test Case - To Verify that user is able to click on The View Larger Image Toggle with Top view for OMAN: Blythe_Crib_3in1_Convertible_woRailAnd Sku is :5862094 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Fetching the Current status of the Rendered Image, Which is :off</td></tr>
<tr><td>currently, The Image is in -View front Mode </td></tr>
<tr><td>Fetching the Current Data frame of the Rendered Image :TopDownS0002.jpg</td></tr>
<tr><td>Going to click on View Top Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to click on Larger Image Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to check the Top View Toggle's Activeness when Image is viewed in view Larger Mode</td></tr>
<tr><td>The Top view Toggle's Activeness status is on</td></tr>
<tr><td>Going to click on -Cancel Button in View Large Image Mode</td></tr>
<tr><td>Image is back in Normal Mode</td></tr>
<tr><td>Going to click on view Front Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to validate if the Image is in Top view or Front view</td></tr>
<tr><td>The Image is in Normal State ie. Front view Mode </td></tr>
<tr><td>Test Case- Testing ZOOM IN feature for OMAN: Blythe_Crib_3in1_Convertible_woRailAnd Sku is: 5862094 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 558x558</td></tr>
<tr><td>Fetching the Resolution of Original Image, The current resolution is: 558x558</td></tr>
<tr><td>Going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is not yet Highlighted</td></tr>
<tr><td>Now, Going to click on Zoom In Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td> After click on Zoom in Toggle, going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is Highlighted</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 2000x2000</td></tr>
<tr><td>Now the current resolution changed to: 2000x2000</td></tr>
<tr><td>The Image Resolution got changed</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 2000x2000</td></tr>
<tr><td>Fetching the Resolution of Image, The current resolution is: 2000x2000</td></tr>
<tr><td>Going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is Highlighted</td></tr>
<tr><td>Now, Going to click on Zoom Out Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td> After click on Zoom out Toggle, going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is not yet Highlighted</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 558x558</td></tr>
<tr><td>Now the current resolution changed to: 558x558</td></tr>
<tr><td>The Image Resolution got changed</td></tr>
<tr><td>Test Case- Testing Zoom IN FEATURE WITH DIMENSION for OMAN: Blythe_Crib_3in1_Convertible_woRailAnd Sku is : 5862094 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to click on Zoom In Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 2000x2000</td></tr>
<tr><td>The Dimension Toggle's Activeness status is off</td></tr>
<tr><td>The Zoom Toggle's Activeness status is on</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 558x558</td></tr>
<tr><td>TEST CASE-TESTING ZOOM IN FEATURE FOR TOP VIEW IMAGE Blythe_Crib_3in1_Convertible_woRailAnd Sku is: 5862094 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to click on Zoom In Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 2000x2000</td></tr>
<tr><td>The TopView Toggle's Activeness status is on</td></tr>
<tr><td>The Zoom Toggle's Activeness status is on</td></tr>
<tr><td>The Image is opened in Zoomed In status with Top View Mode On</td></tr>
<tr><td>The Toggle's current Status is true</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 558x558</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>TEST CASE-TESTING ZOOM IN FEATURE fOR TOP VIEW IMAGE WITH DIMENSION Blythe_Crib_3in1_Convertible_woRailAnd Sku is: 5862094 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to click on View Top Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to click on Zoom In Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 2000x2000</td></tr>
<tr><td>The TopView Toggle's Activeness status is on</td></tr>
<tr><td>The Zoom Toggle's Activeness status is on</td></tr>
<tr><td>The Image is opened in Zoomed In status with Top View Mode On</td></tr>
<tr><td>Something wrong with the Dimensions</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 558x558</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td> TEST CASE-TESTING DIMENSION FEATURE FOR THE RENDERED IMAGE for OMAN: Blythe_Crib_3in1_Convertible_woRailAnd Sku is: 5862094 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : Blythe_Crib_3in1_Convertible_woRail_TopDownS0014.png</td></tr>
<tr><td>Going to check the Dimension Toggle's Activeness</td></tr>
<tr><td>The Dimension button is not yet Highlighted</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>The Data Frame used for the Diemsnion is :Blythe_Crib_3in1_Convertible_woRail_360S0001.png</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : Blythe_Crib_3in1_Convertible_woRail_360S0001.png</td></tr>
<tr><td>Going to check the Dimension Toggle's Activeness</td></tr>
<tr><td>The Dimension button is not yet Highlighted</td></tr>
<tr><td>Test Case - To Verify that user is able to click on The View Larger Image Toggle with Dimensions on for OMAN: Blythe_Crib_3in1_Convertible_woRailAnd Sku is: 5862094 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : Blythe_Crib_3in1_Convertible_woRail_360S0001.png</td></tr>
<tr><td>Going to check the Dimension Toggle's Activeness</td></tr>
<tr><td>The Dimension button is not yet Highlighted</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to click on View Larger Image Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to check the Dimension Toggle's Activeness when Image is viewed in view Larger Mode</td></tr>
<tr><td>The Dimension Toggle's Activeness status is off</td></tr>
<tr><td>Going to click on -Cancel Button in View Large Image Mode</td></tr>
<tr><td>Image is back in Normal Mode</td></tr>
<tr><td>Test Case- Testing  DIMENSION feature with Zoom In Functionality for OMAN: Blythe_Crib_3in1_Convertible_woRailAnd Sku is: 5862094 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to click on Zoom In Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 2000x2000</td></tr>
<tr><td>The Dimension Toggle's Activeness status is off</td></tr>
<tr><td>The Zoom Toggle's Activeness status is on</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 558x558</td></tr>
<tr><td>Test Case- Testing  DIMENSION feature with Top View Functionality for OMAN: Blythe_Crib_3in1_Convertible_woRailAnd Sku is: 5862094 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to click on View Top Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>The TopView Toggle's Activeness status is: on</td></tr>
<tr><td>The Dimension Toggle's Activeness status is: off</td></tr>
<tr><td>Something wrong with the Dimensions</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Test Case- Testing Top View feature for OMAN: Blythe_Crib_3in1_Convertible_woRailAnd Sku is: 5862094 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Fetching the Current status of the Rendered Image, Which is :off</td></tr>
<tr><td>currently, The Image is in -View front Mode </td></tr>
<tr><td>Going to click on View Top Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Fetching the Current Data frame of the Rendered Image :TopDownS0002.jpg</td></tr>
<tr><td>Fetching the Current status of the Rendered Image, Which is :on</td></tr>
<tr><td>currently, The Image is in -View Top Mode </td></tr>
<tr><td>Getting the current Element Attribute, The Value is : on</td></tr>
<tr><td>currently, Can't determine the Mode of the Image </td></tr>
<tr><td>The Data Top View Frame used for the Rendered Image is :TopDownS0002.jpg</td></tr>
<tr><td>Going to click on View Front Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to validate if the Image is in Top view or Front view</td></tr>
<tr><td>The Image is in Normal State ie. Front view Mode </td></tr>
<tr><td>TEST CASE-TESTING IMAGE ROTATION FOR OMAN: Blythe_Crib_3in1_Convertible_woRailAnd Sku is: 5862094 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>calling to get the Rotation Type of Rendered Image</td></tr>
<tr><td>The Rotation Type of the OMAN is : 360</td></tr>
<tr><td>Fetching the Frame Sequence of the Image</td></tr>
<tr><td>Here is the List of Framesequence 360S0001,360S0002,360S0003,360S0004,360S0005,360S0006,360S0007,360S0008,360S0009,360S0010,360S0011,360S0012,360S0013,360S0014,360S0015,360S0016,360S0017,360S0018,360S0019,360S0020,360S0021,360S0022,360S0023,360S0024,360S0025,360S0026,360S0027,360S0028,360S0029,360S0030,360S0031,360S0032</td></tr>
<tr><td>Going to Rotate the Image </td></tr>
<tr><td>calling to get the Rotation Type of Rendered Image</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S0002</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S0003</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S0004</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S0005</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S0006</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S0007</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S0008</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S0009</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00010</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00011</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00012</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00013</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00014</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00015</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00016</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00017</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00018</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00019</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00020</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00021</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00022</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00023</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00024</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00025</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00026</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00027</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00028</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00029</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00030</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00031</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00032</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S0001</td></tr>
<tr><td>TEST CASE-To Verify the Missing Data Frames of the Rendered Image for OMAN:Blythe_Crib_3in1_Convertible_woRailAnd Sku is: 5862094 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Fetching the Frame Sequence of the Image</td></tr>
<tr><td>Going to check if any Frame for the Rotator is Missing</td></tr>
<tr><td>No frame is missing , Total data sequence frame count available is 32</td></tr>
<tr><td>TEST CASE-To Verify the Missing Top Down Frames of the Rendered Image for OMAN:Blythe_Crib_3in1_Convertible_woRailAnd Sku is: 5862094 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Fetching the TopDown Frame Sequence of the Image</td></tr>
<tr><td>Getting the Value of TopDown Frame, Which is: null</td></tr>
<tr><td>Going to Launch the Browser for Oman Angled_Bookcase</td></tr>
<tr><td>Going to login into the Application with qaa And Password fa96b042-6963-4e32-a73a-9b2c6f9fca5f</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to click on the composer link https://test-composer.outwardinc.com/view/WSI_PBK_CT3/Angled_Bookcase</td></tr>
<tr><td>Going to fetch total Sku for Angled_Bookcase</td></tr>
<tr><td>The No. of Skus are :8</td></tr>
<tr><td>Going to find the Min number of Sku to be Executed </td></tr>
<tr><td>Total Sku available for Angled_Bookcase is 8 And configured SKU count is 2</td></tr>
<tr><td>Number of Times the Sku to be Executed: 2</td></tr>
<tr><td> Going to Execute Test cases for index : 01</td></tr>
<tr><td>Going to validate the View Larger Image functionality for Oman Angled_BookcaseAnd Sku is :4201260 SimplyWarmWhite</td></tr>
<tr><td>Getting information on Current Image attributes</td></tr>
<tr><td>The Image Dimensions [Height] :1050</td></tr>
<tr><td>The Image Dimensions [Width] :1050</td></tr>
<tr><td>Fetching current Image Resolution :width: 700px; height: 700px;</td></tr>
<tr><td>Going to click on - View larger Image</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>The Image is in- large View Mode and here are the New Image attributes</td></tr>
<tr><td>The Image Dimensions are :1920</td></tr>
<tr><td>The Image Dimensions are :1014</td></tr>
<tr><td>Fetching New Image Resolution :width: 1280px; height: 676px;</td></tr>
<tr><td>Verifying the Image's attributes when it is Opened in View larger Image Mode</td></tr>
<tr><td>Validating the New Image's attributes with the Original Image's attributes</td></tr>
<tr><td>Here are the Image's attributes when it is opened in -->Larger View Mode- [height] :1920</td></tr>
<tr><td>Here are the Image's attributes when it is opened in -->Larger View Mode- [Width] :1014</td></tr>
<tr><td>The New Image's Attributes are not same with the Original Image attributes</td></tr>
<tr><td>Going to validate if the -Cancel Button is available</td></tr>
<tr><td>The Cancel button is available in the Page</td></tr>
<tr><td>Going to click on -Cancel Button in View Large Image Mode</td></tr>
<tr><td>Image is back in Normal Mode</td></tr>
<tr><td>Test Execution for Click on View large Image Mode Executed Successfully</td></tr>
<tr><td>Test Case - To Verify that user is able to click on The View Larger Image Toggle with Dimensions on for OMAN: Angled_BookcaseAnd Sku is: 4201260 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : Angled_Bookcase_180S0010.png</td></tr>
<tr><td>Going to check the Dimension Toggle's Activeness</td></tr>
<tr><td>The Dimension button is not yet Highlighted</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to click on View Larger Image Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to check the Dimension Toggle's Activeness when Image is viewed in view Larger Mode</td></tr>
<tr><td>The Dimension Toggle's Activeness status is off</td></tr>
<tr><td>Going to click on -Cancel Button in View Large Image Mode</td></tr>
<tr><td>Image is back in Normal Mode</td></tr>
<tr><td>Test Case - To Verify that user is able to click on The View Larger Image Toggle with Top view for OMAN: Angled_BookcaseAnd Sku is :4201260 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Fetching the Current status of the Rendered Image, Which is :off</td></tr>
<tr><td>currently, The Image is in -View front Mode </td></tr>
<tr><td>Fetching the Current Data frame of the Rendered Image :TopDownS0002.jpg</td></tr>
<tr><td>Going to click on View Top Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to click on Larger Image Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to check the Top View Toggle's Activeness when Image is viewed in view Larger Mode</td></tr>
<tr><td>The Top view Toggle's Activeness status is on</td></tr>
<tr><td>Going to click on -Cancel Button in View Large Image Mode</td></tr>
<tr><td>Image is back in Normal Mode</td></tr>
<tr><td>Going to click on view Front Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to validate if the Image is in Top view or Front view</td></tr>
<tr><td>The Image is in Normal State ie. Front view Mode </td></tr>
<tr><td>Test Case- Testing ZOOM IN feature for OMAN: Angled_BookcaseAnd Sku is: 4201260 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 558x558</td></tr>
<tr><td>Fetching the Resolution of Original Image, The current resolution is: 558x558</td></tr>
<tr><td>Going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is not yet Highlighted</td></tr>
<tr><td>Now, Going to click on Zoom In Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td> After click on Zoom in Toggle, going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is Highlighted</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 2000x2000</td></tr>
<tr><td>Now the current resolution changed to: 2000x2000</td></tr>
<tr><td>The Image Resolution got changed</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 2000x2000</td></tr>
<tr><td>Fetching the Resolution of Image, The current resolution is: 2000x2000</td></tr>
<tr><td>Going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is Highlighted</td></tr>
<tr><td>Now, Going to click on Zoom Out Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td> After click on Zoom out Toggle, going to check if the button is Highlighted or Not</td></tr>
<tr><td>The Zoom button is not yet Highlighted</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 558x558</td></tr>
<tr><td>Now the current resolution changed to: 558x558</td></tr>
<tr><td>The Image Resolution got changed</td></tr>
<tr><td>Test Case- Testing Zoom IN FEATURE WITH DIMENSION for OMAN: Angled_BookcaseAnd Sku is : 4201260 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to click on Zoom In Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 2000x2000</td></tr>
<tr><td>The Dimension Toggle's Activeness status is off</td></tr>
<tr><td>The Zoom Toggle's Activeness status is on</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 558x558</td></tr>
<tr><td>TEST CASE-TESTING ZOOM IN FEATURE FOR TOP VIEW IMAGE Angled_BookcaseAnd Sku is: 4201260 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to click on Zoom In Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 2000x2000</td></tr>
<tr><td>The TopView Toggle's Activeness status is on</td></tr>
<tr><td>The Zoom Toggle's Activeness status is on</td></tr>
<tr><td>The Image is opened in Zoomed In status with Top View Mode On</td></tr>
<tr><td>The Toggle's current Status is true</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 558x558</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>TEST CASE-TESTING ZOOM IN FEATURE fOR TOP VIEW IMAGE WITH DIMENSION Angled_BookcaseAnd Sku is: 4201260 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to click on View Top Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to click on Zoom In Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 2000x2000</td></tr>
<tr><td>The TopView Toggle's Activeness status is on</td></tr>
<tr><td>The Zoom Toggle's Activeness status is on</td></tr>
<tr><td>The Image is opened in Zoomed In status with Top View Mode On</td></tr>
<tr><td>Something wrong with the Dimensions</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 558x558</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td> TEST CASE-TESTING DIMENSION FEATURE FOR THE RENDERED IMAGE for OMAN: Angled_BookcaseAnd Sku is: 4201260 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : Angled_Bookcase_TopDownS0014.png</td></tr>
<tr><td>Going to check the Dimension Toggle's Activeness</td></tr>
<tr><td>The Dimension button is not yet Highlighted</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>The Data Frame used for the Diemsnion is :Angled_Bookcase_180S0010.png</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : Angled_Bookcase_180S0010.png</td></tr>
<tr><td>Going to check the Dimension Toggle's Activeness</td></tr>
<tr><td>The Dimension button is not yet Highlighted</td></tr>
<tr><td>Test Case - To Verify that user is able to click on The View Larger Image Toggle with Dimensions on for OMAN: Angled_BookcaseAnd Sku is: 4201260 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Going to fetch current Data Dimension Frame Information, The Data Dimension Frame used is : Angled_Bookcase_180S0010.png</td></tr>
<tr><td>Going to check the Dimension Toggle's Activeness</td></tr>
<tr><td>The Dimension button is not yet Highlighted</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to click on View Larger Image Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to check the Dimension Toggle's Activeness when Image is viewed in view Larger Mode</td></tr>
<tr><td>The Dimension Toggle's Activeness status is off</td></tr>
<tr><td>Going to click on -Cancel Button in View Large Image Mode</td></tr>
<tr><td>Image is back in Normal Mode</td></tr>
<tr><td>Test Case- Testing  DIMENSION feature with Zoom In Functionality for OMAN: Angled_BookcaseAnd Sku is: 4201260 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to click on Zoom In Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 2000x2000</td></tr>
<tr><td>The Dimension Toggle's Activeness status is off</td></tr>
<tr><td>The Zoom Toggle's Activeness status is on</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to get the Resolution of the Current Image </td></tr>
<tr><td>Current Image Resolution is : 558x558</td></tr>
<tr><td>Test Case- Testing  DIMENSION feature with Top View Functionality for OMAN: Angled_BookcaseAnd Sku is: 4201260 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Going to click on Dimension Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to click on View Top Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>The TopView Toggle's Activeness status is: on</td></tr>
<tr><td>The Dimension Toggle's Activeness status is: on</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Test Case- Testing Top View feature for OMAN: Angled_BookcaseAnd Sku is: 4201260 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Fetching the Current status of the Rendered Image, Which is :off</td></tr>
<tr><td>currently, The Image is in -View front Mode </td></tr>
<tr><td>Going to click on View Top Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Fetching the Current Data frame of the Rendered Image :TopDownS0002.jpg</td></tr>
<tr><td>Fetching the Current status of the Rendered Image, Which is :on</td></tr>
<tr><td>currently, The Image is in -View Top Mode </td></tr>
<tr><td>Getting the current Element Attribute, The Value is : on</td></tr>
<tr><td>currently, Can't determine the Mode of the Image </td></tr>
<tr><td>The Data Top View Frame used for the Rendered Image is :TopDownS0002.jpg</td></tr>
<tr><td>Going to click on View Front Toggle</td></tr>
<tr><td>Element is clicked</td></tr>
<tr><td>Going to validate if the Image is in Top view or Front view</td></tr>
<tr><td>The Image is in Normal State ie. Front view Mode </td></tr>
<tr><td>TEST CASE-TESTING IMAGE ROTATION FOR OMAN: Angled_BookcaseAnd Sku is: 4201260 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>calling to get the Rotation Type of Rendered Image</td></tr>
<tr><td>The Rotation Type of the OMAN is : 180</td></tr>
<tr><td>Fetching the Frame Sequence of the Image</td></tr>
<tr><td>Here is the List of Framesequence 180S0001,180S0002,180S0003,180S0004,180S0005,180S0006,180S0007,180S0008,180S0009,180S0010,180S0011,180S0012,180S0013,180S0014,180S0015</td></tr>
<tr><td>Going to Rotate the Image </td></tr>
<tr><td>calling to get the Rotation Type of Rendered Image</td></tr>
<tr><td>calling to get the Rotation Type of Rendered Image</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00011</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00012</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00013</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00014</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00015</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S0001</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S0002</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S0003</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S0004</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S0005</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S0006</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S0007</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S0008</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S0009</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00010</td></tr>
<tr><td>The Image is rotated and its current Data-Frame is 360S00011</td></tr>
<tr><td>TEST CASE-To Verify the Missing Data Frames of the Rendered Image for OMAN:Angled_BookcaseAnd Sku is: 4201260 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Fetching the Frame Sequence of the Image</td></tr>
<tr><td>Going to check if any Frame for the Rotator is Missing</td></tr>
<tr><td>No frame is missing , Total data sequence frame count available is 15</td></tr>
<tr><td>TEST CASE-To Verify the Missing Top Down Frames of the Rendered Image for OMAN:Angled_BookcaseAnd Sku is: 4201260 SimplyWarmWhite</td></tr>
<tr><td>Going to restore the buttons to OFF state before Starting the Test case</td></tr>
<tr><td>Fetching the TopDown Frame Sequence of the Image</td></tr>
<tr><td>Getting the Value of TopDown Frame, Which is: null</td></tr>
</table>